@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.UnidadeViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Unidades</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaUnidade", "Unidade")">Unidades</a>
            </li>
            <li class="active">
                <strong>Unidade - Edição</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Unidade - Edição</h5>
                </div>

                <div class="ibox-content">
                    <div class="form-group">
                        <br />
                        @Html.ButtonLinkIndex(text: "Enviar SMS", action: "EnviarSMSUnidadeForm", controller: "Unidade")
                        @Html.ButtonLinkIndex(text: "Enviar E-Mail", action: "EnviarEMailunidade", controller: "Unidade")
                        @Html.ButtonLinkIndex(text: "Gerar Relatório", action: "GerarRelatorioDetalhe", controller: "Unidade")
                        @Html.ButtonLinkIndex(text: "Emitir Notificação", action: "GerarNotificacaoUnidade", controller: "Unidade")
                        @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBaseUnidade", controller: "Unidade")
                    </div>
                    @Html.AntiForgeryToken()
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Dados Gerais</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2">Anexos</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3">Moradores & Veículos</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4">Visitantes & Encomendas</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-5">Reservas & Mudanças</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-6">Listas de Convidados & Ocorrências</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-7">Resumo Financeiro</a></li>
                        </ul>
                        <div class="tab-content">   

                            @*Dados Gerais*@
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    @using (Html.BeginForm("EditarUnidade", "Unidade", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                                    {
                                        <div class="row" style="width: 100%;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                        @Html.HiddenFor(m => m.UNID_IN_ATIVO)
                                                        @Html.HiddenFor(m => m.UNID_CD_ID)
                                                        Tipo de Unidade*
                                                        @Html.DropDownListFor(m => m.TIUN_CD_ID, (SelectList)ViewBag.Tipos, "Selecionar", new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.TIUN_CD_ID, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Torre*
                                                        @Html.DropDownListFor(m => m.TORR_CD_ID, (SelectList)ViewBag.Torres, "Selecionar", new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.TORR_CD_ID, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Número*
                                                        @Html.TextBoxFor(m => m.UNID_NR_NUMERO, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.UNID_NR_NUMERO, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class=" col-lg-3 col-md-3 col-xs-12">
                                                        Alugada*
                                                        @Html.DropDownListFor(m => m.UNID_IN_ALUGADA, (SelectList)ViewBag.Alugada, "Selecionar", new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.UNID_IN_ALUGADA, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                                <br />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.ButtonActionSubmit(text: "Confirma edição de Unidade", htmlAttributes: new { id = "basictoast", style = "margin-bottom: -35px;" })
                                        </div>
                                    }
                                </div>
                            </div>

                            @*Imagens - Foto e Anexos*@
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <hr />
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            <h4>Anexos</h4>
                                            <br />
                                            <div class="form-group">
                                                @using (Html.BeginForm("UploadFileUnidade", "Unidade", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "pwd-container2" }))
                                                {
                                                    <div class="ibox-content">
                                                        @if (Model.UNIDADE_ANEXO.Count > 0)
                                                        {
                                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                <thead style="background-color:lightsteelblue">
                                                                    <tr>
                                                                        <th>Título</th>
                                                                        <th>Data</th>
                                                                        <th>Tipo</th>
                                                                        <th class="td-one-action">Ações</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var cond in (Model.UNIDADE_ANEXO))
                                                                    {
                                                                        <tr>
                                                                            <td>@cond.UNAN_NM_TITULO</td>
                                                                            <td>@cond.UNAN_DT_ANEXO.ToShortDateString()</td>
                                                                            @if (cond.UNAN_IN_TIPO == 1)
                                                                            {
                                                                                <td>Imagem</td>
                                                                            }
                                                                            else if (cond.UNAN_IN_TIPO == 2)
                                                                            {
                                                                                <td>Vídeo</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>Arquivo</td>
                                                                            }
                                                                            <td class="td-one-action">
                                                                                @if (cond.UNAN_IN_TIPO == 1 || cond.UNAN_IN_TIPO == 2)
                                                                                {
                                                                                    @Html.TableLinkDetails(cond.UNAN_CD_ID, "VerAnexoUnidade", "fa-camera", "Visualizar")
                                                                                }
                                                                                @if (cond.UNAN_IN_TIPO == 3)
                                                                                {
                                                                                    <a title="Visualizar" class="fa fa-camera fa-lg" href="~/PdfViewer/web/viewer.html?file=@(cond.UNAN_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank" ></a>
                                                                                }
                                                                                @Html.TableLinkDetails(cond.UNAN_CD_ID, "DownloadUnidade", "fa-download", "Download")
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                        <div class="form-group">
                                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                                <input style="float: left; margin-right: 5px;" type="file" name="file" id="file" class="btn btn-sm btn-warning" />
                                                                <input style="float: left; margin-right: 5px;" type="submit" value="Incluir Anexo" class="btn btn-sm btn-success" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Moradores e Veículos*@
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <span class="label label-primary pull-right">Hoje</span>
                                                    @if (ViewBag.Perfil == "ADM" || ViewBag.Perfil == "GER" || ViewBag.Perfil == "SIN"  || ViewBag.Perfil == "POR")
                                                    {
                                                        <h5><a href="@Url.Action("MontarTelaMoradores", "Morador")" class="pull-left btn-link"><u>Moradores</u></a></h5>
                                                    }
                                                    else
                                                    {
                                                        <h5><a href="@Url.Action("MontarTelaMorador", "Morador")" class="pull-left btn-link"><u>Morador</u></a></h5>
                                                    }
                                                </div>
                                                <div class="ibox-content">
                                                    @if (Model.USUARIO.Count > 0)
                                                    {
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nome</th>
                                                                    <th>Data Nascimento</th>
                                                                    <th>Telefone</th>
                                                                    <th>Responsável</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var cond in (Model.USUARIO.OrderByDescending(a => a.USUA_NM_NOME)))
                                                                {
                                                                    <tr>
                                                                        <td>@cond.USUA_NM_NOME</td>
                                                                        @if (cond.USUA_DT_NASCIMENTO != null)
                                                                        {
                                                                            <td>@cond.USUA_DT_NASCIMENTO.Value.ToShortDateString()</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>-</td>
                                                                        }
                                                                        <td>@cond.USUA_NR_CELULAR</td>
                                                                        @if (cond.USUA_IN_RESPONSAVEL == 1)
                                                                        {
                                                                            <td>Sim</td>
                                                                        }
                                                                        else 
                                                                        {
                                                                            <td>Não</td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <span class="label label-primary pull-right">Hoje</span>
                                                    <h5><a href="@Url.Action("MontarTelaVeiculos", "Veiculo")" class="pull-left btn-link"><u>Veículos da Unidade</u></a></h5>
                                                </div>
                                                <div class="ibox-content">
                                                    @if (Model.VEICULO.Count > 0)
                                                    {
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tipo</th>
                                                                    <th>Placa</th>
                                                                    <th>Marca</th>
                                                                    <th>Vaga</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var cond in (Model.VEICULO.OrderByDescending(a => a.VEIC_NM_PLACA)))
                                                                {
                                                                    <tr>
                                                                        <td>@cond.TIPO_VEICULO.TIVE_NM_NOME</td>
                                                                        <td>@cond.VEIC_NM_PLACA</td>
                                                                        <td>@cond.VEIC_NM_MARCA</td>
                                                                        @if (cond.VAGA != null)
                                                                        {
                                                                            <td>@cond.VAGA.VAGA_NR_NUMERO</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>-</td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <span class="label label-primary pull-right">Hoje</span>
                                                    <h5><a href="@Url.Action("MontarTelaVaga", "Vaga")" class="pull-left btn-link"><u>Vagas</u></a></h5>
                                                </div>
                                                <div class="ibox-content">
                                                    @if (Model.VAGA.Count > 0)
                                                    {
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tipo</th>
                                                                    <th>Andar</th>
                                                                    <th>Número</th>
                                                                    <th>Atribuída em</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var cond in (Model.VAGA.OrderByDescending(a => a.VAGA_NR_NUMERO)))
                                                                {
                                                                    <tr>
                                                                        <td>@cond.TIPO_VAGA.TIVA_NM_NOME</td>
                                                                        <td>@cond.VAGA_NR_ANDAR</td>
                                                                        <td>@cond.VAGA_NR_NUMERO</td>
                                                                        @if (cond.VAGA_DT_ATRIBUICAO != null)
                                                                        {
                                                                            <td>@cond.VAGA_DT_ATRIBUICAO.Value.ToShortDateString()</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>-</td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            @*Visitantes e Encomendas*@
                            <div id="tab-4" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <span class="label label-primary pull-right">Hoje</span>
                                                    <h5><a href="@Url.Action("MontarTelaEntradaSaida", "EntradaSaida")" class="pull-left btn-link"><u>Visitantes</u></a></h5>
                                                </div>
                                                <div class="ibox-content">
                                                    @if (Model.ENTRADA_SAIDA.Count > 0)
                                                    {
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nome</th>
                                                                    <th>Entrada</th>
                                                                    <th>Saída</th>
                                                                    <th>Parentesco</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var cond in (Model.ENTRADA_SAIDA.OrderByDescending(a => a.ENSA_DT_ENTRADA)).Take(5))
                                                                {
                                                                    <tr>
                                                                        <td>@cond.ENSA_NM_NOME</td>
                                                                        <td>@cond.ENSA_DT_ENTRADA</td>
                                                                        <td>@cond.ENSA_DT_SAIDA</td>
                                                                        <td>@cond.GRAU_PARENTESCO.GRPA_NM_NOME</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <span class="label label-primary pull-right">Hoje</span>
                                                    <h5><a href="@Url.Action("MontarTelaEncomenda", "Encomenda")" class="pull-left btn-link"><u>Encomendas</u></a></h5>
                                                </div>
                                                <div class="ibox-content">
                                                    @if (Model.ENCOMENDA.Count > 0)
                                                    {
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tipo</th>
                                                                    <th>Data</th>
                                                                    <th>Entrega</th>
                                                                    <th>Código</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var cond in (Model.ENCOMENDA.OrderByDescending(a => a.ENCO_DT_CHEGADA)).Take(5))
                                                                {
                                                                    <tr>
                                                                        <td>@cond.TIPO_ENCOMENDA.TIEN_NM_NOME</td>
                                                                        <td>@cond.ENCO_DT_CHEGADA</td>
                                                                        <td>@cond.ENCO_DT_ENTREGA</td>
                                                                        <td>@cond.ENCO_CD_CODIGO</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            @*Reservas e Mudanças*@
                            <div id="tab-5" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <span class="label label-primary pull-right">Hoje</span>
                                                    <h5><a href="@Url.Action("MontarTelaReserva", "Reserva")" class="pull-left btn-link"><u>Reservas</u></a></h5>
                                                </div>
                                                <div class="ibox-content">
                                                    @if (Model.RESERVA.Count > 0)
                                                    {
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Ambiente</th>
                                                                    <th>Data</th>
                                                                    <th>Confirmada</th>
                                                                    <th>Paga</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var cond in (Model.RESERVA.OrderByDescending(a => a.RESE_DT_EVENTO)).Take(5))
                                                                {
                                                                    <tr>
                                                                        <td>@cond.AMBIENTE.AMBI_NM_AMBIENTE</td>
                                                                        <td>@cond.RESE_DT_EVENTO.ToShortDateString()</td>
                                                                        @if (cond.RESE_IN_CONFIRMADA == 1)
                                                                        {
                                                                            <td>Sim</td>
                                                                        }
                                                                        else 
                                                                        {
                                                                            <td>Não</td>
                                                                        }
                                                                        @if (cond.RESE_IN_PAGA == 1)
                                                                        {
                                                                            <td>Sim</td>
                                                                        }
                                                                        else 
                                                                        {
                                                                            <td>Não</td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <span class="label label-primary pull-right">Hoje</span>
                                                    <h5><a href="@Url.Action("MontarTelaMudanca", "Mudanca")" class="pull-left btn-link"><u>Mudanças</u></a></h5>
                                                </div>
                                                <div class="ibox-content">
                                                    @if (Model.SOLICITACAO_MUDANCA.Count > 0)
                                                    {
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Data</th>
                                                                    <th>Tipo</th>
                                                                    <th>Aprovada</th>
                                                                    <th>Executada</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var cond in (Model.SOLICITACAO_MUDANCA.OrderByDescending(a => a.SOMU_DT_MUDANCA)).Take(5))
                                                                {
                                                                    <tr>
                                                                        <td>@cond.SOMU_DT_MUDANCA.ToShortDateString()</td>
                                                                        @if (cond.SOMU_IN_ENTRADA_SAIDA == 1)
                                                                        {
                                                                            <td>Entrada</td>
                                                                        }
                                                                        else 
                                                                        {
                                                                            <td>Saída</td>
                                                                        }
                                                                        @if (cond.SOMU_IN_APROVACAO == 1)
                                                                        {
                                                                            <td>Sim</td>
                                                                        }
                                                                        else 
                                                                        {
                                                                            <td>Não</td>
                                                                        }
                                                                        @if (cond.SOMU_IN_EXECUTADA == 1)
                                                                        {
                                                                            <td>Sim</td>
                                                                        }
                                                                        else 
                                                                        {
                                                                            <td>Não</td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            @*Lista de Convidados e Ocorrencias*@
                            <div id="tab-6" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <span class="label label-primary pull-right">Hoje</span>
                                                    <h5><a href="@Url.Action("MontarTelaListaConvidado", "ListaConvidado")" class="pull-left btn-link"><u>Lista de Convidados</u></a></h5>
                                                </div>
                                                <div class="ibox-content">
                                                    @if (Model.LISTA_CONVIDADO.Count > 0)
                                                    {
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nome</th>
                                                                    <th>Data</th>
                                                                    <th>Reserva</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var cond in (Model.LISTA_CONVIDADO.OrderByDescending(a => a.LICO_DT_EVENTO)).Take(5))
                                                                {
                                                                    <tr>
                                                                        <td>@cond.LICO_NM_LISTA</td>
                                                                        <td>@cond.LICO_DT_EVENTO.ToShortDateString()</td>
                                                                        @if (cond.RESERVA == null)
                                                                        {
                                                                            <td>-</td>
                                                                        }
                                                                        else 
                                                                        {
                                                                            <td>@cond.RESERVA.RESE_NM_NOME</td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">
                                                    <span class="label label-primary pull-right">Hoje</span>
                                                    <h5><a href="@Url.Action("MontarTelaOcorrencia", "Ocorrencia")" class="pull-left btn-link"><u>Ocorrências</u></a></h5>
                                                </div>
                                                <div class="ibox-content">
                                                    @if (Model.OCORRENCIA.Count > 0)
                                                    {
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Data</th>
                                                                    <th>Categoria</th>
                                                                    <th>Título</th>
                                                                    <th>Comentários</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var cond in (Model.OCORRENCIA.OrderByDescending(a => a.OCOR_DT_OCORRENCIA)).Take(5))
                                                                {
                                                                    <tr>
                                                                        <td>@cond.OCOR_DT_OCORRENCIA.ToShortDateString()</td>
                                                                        <td>@cond.CATEGORIA_OCORRENCIA.CAOC_NM_NOME</td>
                                                                        <td>@cond.OCOR_NM_TITULO</td>
                                                                        <td>@cond.OCORRENCIA_COMENTARIO.Count</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            @*Resumo financeiro*@
                            <div id="tab-7" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <h4>Em Desenvolvimento</h4>
                                    </div>
                                </div>
                            </div>                     
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <br />
                    @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBaseUnidade", controller: "Unidade")
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
            $('#tel').mask("(99) 9999-9999");
            $('#cel').mask("(99) 99999-9999");
            $('#wpp').mask("(99) 99999-9999");
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            //Chama o evento após selecionar um valor
            $('#pessoa').on('change', function () {
                //Verifica se o valor é igual a 1 e mostra a divCnpj
                if (this.value == '2') {
                    $("#PF").hide();
                    $("#PJ").show();
                    $("#razao").show();
                }
                //Se o tempo for mé igual a 2 mostra a divCpf
                else if (this.value == '1') {
                    $("#PJ").hide();
                    $("#PF").show();
                    $("#razao").hide();
                }
                else if (this.value == '4') {
                    $("#PF").show();
                    $("#PJ").hide();
                    $("#razao").hide();
                }

                //Se não for nem 1 nem 2 esconde as duas
                else {
                    $("#PJ").hide();
                    $("#PF").hide();
                    $("#razao").hide();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Edição em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
