@using Inspinia_MVC5;
@using EntitiesServices.Work_Classes;
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                         @if (!String.IsNullOrEmpty(SessionMocks.Foto) && File.Exists(Server.MapPath(SessionMocks.Foto)))
                         {
                             <img alt="image" class="img-circle" src="@Url.Content(SessionMocks.Foto)" style="width: auto; height: auto; max-height: 50px; max-width: 50px;" />
                         }
                         else
                         {
                             <img alt="image" class="img-circle" src="~/Images/gallery/10s.jpg" style="width: auto; height: auto; max-height: 50px; max-width: 50px;" />
                         }
                        @*<img alt="image" class="img-circle" src="~/Images/Clayton.jpg" style = "width: auto; height: auto; max-height: 50px; max-width: 50px;" />*@
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@SessionMocks.Nome</strong>
                                @*<strong class="font-bold">Clayton Sant'Anna</strong>*@
                            </span>
                            <br />
                            <span class="text-muted text-xs block">Controle de Acesso<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        @if (SessionMocks.IdAssinante == 0)
                        {
                            <li><a href="@Url.Action("Login", "ControleAcesso")">Login</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Logout", "ControleAcesso")">Logout</a></li>
                            <li><a href="@Url.Action("TrocarSenha", "ControleAcesso")">Alterar Senha</a></li>
                        }
                    </ul>
                </div>
                <div class="logo-element">
                    ERP
                </div>
            </li>

            <li class="@Html.IsSelected(controller: "Atendimento")">
                <a href="@Url.Action("CarregarBase", "BaseAdmin")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Atendimento</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Atendimento", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "MontarTelaAtendimento")"><a href="@Url.Action("MontarTelaAtendimento", "Atendimento")">Service Desk</a></li>
                    <li class="@Html.IsSelected(action: "CarregarDesenvolvimento")"><a href="@Url.Action("CarregarDesenvolvimento", "BaseAdmin")">Ordens de Serviço</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>